Python script to insert Excel data into a MySQL database using pandas and MySQL Connector. üöÄ

üîπ Steps in the Script
Load Excel File ‚Üí Read data using pandas.
Connect to MySQL ‚Üí Use mysql-connector-python.
Insert Data into MySQL ‚Üí Loop through the DataFrame and insert rows

In [ ]:
pip install pandas mysql-connector-python openpyxl

import pandas as pd
import mysql.connector

# üìå MySQL Database Connection Details
MYSQL_HOST = "localhost"
MYSQL_USER = "root"
MYSQL_PASSWORD = "your_password"
MYSQL_DATABASE = "hr_applicants_db"

# üìå Load Excel Data (Update file path)
excel_file = "applicants_data.xlsx"
df = pd.read_excel(excel_file)

# üìå Connect to MySQL
conn = mysql.connector.connect(
    host=MYSQL_HOST,
    user=MYSQL_USER,
    password=MYSQL_PASSWORD,
    database=MYSQL_DATABASE
)
cursor = conn.cursor()

# üìå SQL Query to Insert Data into `applicants` Table
insert_query = """
INSERT INTO applicants (first_name, last_name, email, phone_number, dob, gender, nationality)
VALUES (%s, %s, %s, %s, %s, %s, %s)
"""

# üìå Iterate Through DataFrame and Insert Rows
for _, row in df.iterrows():
    cursor.execute(insert_query, (
        row["first_name"], row["last_name"], row["email"], row["phone_number"],
        row["dob"], row["gender"], row["nationality"]
    ))

# üìå Commit Changes and Close Connection
conn.commit()
cursor.close()
conn.close()

print("‚úÖ Data Inserted Successfully!")

Python script to perform bulk insertion into multiple MySQL tables (applications, education, experience, skills) from Excel files. üöÄ

üîπ Steps Covered in the Script
Load Excel data using pandas.
Connect to MySQL using mysql-connector-python.
Bulk Insert Data into multiple tables (applications, education, experience, skills).
Handle Errors & Commit Transactions.
üìù Prerequisites
1Ô∏è‚É£ Install Required Libraries